body {
      background-color: #000;
      color: #fff;
      font-family: "Inter", sans-serif;
    }

    .custom-outline-btn {
      padding: 10px 30px;
      border: 1px solid #ffffff;
      border-radius: 999px;
      background: transparent;
      color: white;
      font-size: 1rem;
      font-weight: 200;
      font-family: "Inter", "Helvetica Neue", "Axiforma Book", Arial, sans-serif;
      transition: all 0.3s ease-in-out;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      
     
      border-radius: 999px;
    }

    .custom-outline-btn:hover {
      background-color: #39d139;
      color: white;
      border-color: #39d139;
    }

    .badge-pill {
      padding: 10px 30px;
      border: 1px solid #000000;
      border-radius: 999px;
      background: black;
      color: white;
      font-size: 1rem;
      font-weight: 200;
      font-family: "Inter", "Helvetica Neue", "Axiforma Book", Arial, sans-serif;
      transition: all 0.3s ease-in-out;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      border: 1px solid #ffffff;
    }

    .badge-pill:hover {
      background-color: #39d139;
      color: #ffffff;
      border-color: #39d139;
    }

    .form-box {
      background-color: rgba(0, 0, 0, 0);
       border: 1px solid #ffffff;
    
    }
    .custom-form .form-control,
.custom-form textarea,
.custom-form .form-select {
  background-color: #000;      
  color: #fff;                 
  border: 1px solid #fff;      
  border-radius: 8px;
}

.custom-form .form-control::placeholder,
.custom-form textarea::placeholder {
  color: #ccc; 
}

.custom-form .form-control:focus,
.custom-form textarea:focus {
  background-color: #000;
  color: #fff;
  border-color: #39d139;
  box-shadow: none;
}
.custom-select-dark {
  background-color: #000;      
  color: #fff;                 
  border: 1px solid #fff;      
  outline: none;               
  box-shadow: none !important;  
}

.custom-select-dark option {
  background-color: #000;
  color: #fff;
}

.custom-select-dark:focus {
  background-color: #000;
  color: #fff;
  border-color: #fff;           
  outline: none;
  box-shadow: none !important;
}
.outline-icon {
 
  border-radius: 50%;
  padding: 6px;
  width: 34px;
  height: 34px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.contact-link  {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #39d139; /* green on hover */
  text-decoration: none;
}

.icon-hover {
  transition: color 0.3s ease;
}

.icon-hover:hover {
  color: #39d139; /* green icon on hover */
}
.custom-map-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-map-link:hover {
  color: #39d139; /* Green on hover */
  text-decoration: none;
}
.heading {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 100;
}
.description {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Inter", "Helvetica Neue", "Axiforma Book", Arial, sans-serif;
  font-weight: 300;
}


