<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-logo">
                <img src="Src/Assets/yohologo.png" alt="Yoho Technologies" id="footer-logo">
                <p>Reimagining retail technology solutions for a better future.</p>
            </div>
            
            <div class="footer-links">
                <div class="footer-links-column">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#" data-page="About">About Us</a></li>
                        <li><a href="#" data-page="Careers">Careers</a></li>
                        <li><a href="#" data-page="News">News</a></li>
                    </ul>
                </div>
                
                <div class="footer-links-column">
                    <h3>Solutions</h3>
                    <ul>
                        <li><a href="#" data-page="ECommerce">E-Commerce</a></li>
                        <li><a href="#" data-page="SupplyChain">Supply Chain</a></li>
                        <li><a href="#" data-page="Analytics">Data Analytics</a></li>
                    </ul>
                </div>
                
                <div class="footer-links-column">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="#" data-page="Blog">Blog</a></li>
                        <li><a href="#" data-page="Documentation">Documentation</a></li>
                        <li><a href="#" data-page="Support">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="copyright">
                &copy; 2023 Yoho Technologies. All rights reserved.
            </div>
            <div class="social-links">
                <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>